
  <header>
    <div class="logo">CoolSite</div>
    <nav>
      <a href="./">Home</a>
      <a href="./about">About</a>
      <a href="#">Blog</a>
      <a href="./register">Register</a>
    </nav>
  </header>