
  <header>
    <div class="logo">CoolSite</div>
    <nav>
      <a href="./">Home</a>
      <a href="./about">About</a>
      <a href="#">Blog</a>
      <% if (currentUser){ %>
        <a href="logout">logout</a>
     <% }else{ %>
        <a href="/register">Register</a>
        <a href="login.ejs">login</a>
    <% } %>
    </nav>
  </header>